.wrapper-class {
    background-color: #292828;
    padding: 1rem;
    width: 95.3vw;
    /* color:white; */
  }
  .editor-class {
    background-color: #292828;
    padding-left: 1rem;
    color:white;
  }
  .toolbar-class {
    background-color: #292828;
    color:white;
  }
    
  scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  

  
  
  